<div class="overlay home">
  <%= render "navigation" %>
  <div class="small-12 medium-6 large-4 columns">
    <p class="content">I live in Providence, RI, with my fiance Kristen and our two cats, Jasper and Ginger. I grew up here, but spent a few years in Lowell, MA, and would be glad to end up there again.</p>
    <p class="content">I love playing and listening to music. I mostly play bass and a little bit of guitar, but I dabble in any instrument I can get my hands on. In 2004 I self-recorded, produced, packaged and sold a solo album of sample-heavy rock and tongue-in-cheek rap. I sold about 60 copies through Newbury Comics. I'll give you 1,000 bonus points if you can find it online.</p>
    <p class="content">I'm also really into jigsaw puzzles, crossword puzzles, board games and collectible card games, both physical and digital, especially Hearthstone.</p>
    <p class="content">As much as my knees hate me for it, I try to skateboard whenever I get the chance. I've been a casual skater since I was about 8 years old. I'm not much of a trickster, but I can put together a respectable run on a mellow halfpipe.</p>
    <%= render "social" %>
  </div>
</div>
