<div class="overlay home">
  <%= render "navigation" %>
  <div class="small-12 medium-6 large-4 columns">
    <p class="content">Brian Hogue lives in Providence, RI, with his fiance Kristen and their two cats, Jasper and Ginger.
  </div>
</div>
