<!-- <div class="row">
  <div class="small-12 medium-12 large 12 columns"> -->
    <h1 class="name">Brian Hogue</h1>
  <!-- </div>
</div> -->

<hr>

<!-- <div class="row">
  <div class="small-12 medium-12 large 12 columns"> -->
    <h4 class="title"><%= fa_icon "diamond" %> Ruby on Rails developer</h4>
  <!-- </div>
</div> -->

<hr>
