<div>
  <%= render "navigation" %>
  <div class="small-12 medium-6 large-4 columns">
    <p class="content">Hello! My name is Brian, and I'm a junior Web developer specializing in Ruby/Rails, HTML, CSS and JavaScript.</p>
    <p class="content">A little background about me: I spent eight years working as a copy editor and paginator for a couple of daily newspapers. Given the state of the industry as a whole and the state of the particular newsrooms I worked in, I knew that making it a lifelong career would be difficult if not impossible. So, having been interested in Web development for many years through being a Web consumer and through being exposed to it through my brother, I decided to attend <%= link_to "Launch Academy", "https://www.launchacademy.com/", target: "_blank" %>.</p>
    <p class="content">I learned a great many things in my apprenticeship at Launch, the most important of which might be how to learn new things quickly.</p>
    <p class="content">There's a lot more to my story; if you want to hear more, please feel free to contact me through one of my accounts below.</p>
    <%= render "social" %>
  </div>
</div>
