<%= render "navigation" %>
<div class="small-12 medium-6 large-4 columns">
  <p class="content">
    <iframe src="https://docs.google.com/viewer?srcid=0Byx1rc3pECdiZGVzREZyT1dkMXM&pid=explorer&efh=false&a=v&chrome=false&embedded=true" style="width:718px; height:700px;" frameborder="0"></iframe>
  </p>
  <%= render "social" %>
</div>
