body {
  background-color: #00CD99;
}

p,h1,h2,h3,h4 {
  color: #f2f2f2;
  font-family: 'Poppins', sans-serif;
  font-weight: lighter;
}

.name {
  font-family: 'Flamenco', cursive;
  font-size: 6em;
}
